@using DogShelter.Web.ViewModels.Posts
@using DogShelter.Common
@model List<PostsViewModel>
<link rel="stylesheet" type="text/css" href="~/css/search-bar.css">
<link rel="stylesheet" type="text/css" href="~/css/all-post.css">
<div class="all-container">
    <input class="search form-control" type="text" placeholder="Search" aria-label="Search">
    @foreach (var input in Model)
    {
        <div class="card mb-3 ml-lg-5" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@input.Link" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@input.Title</h5>
                        <p class="card-text">@input.ShortDescription</p>
                        <p class="card-text"><small class="text-muted">@input.CreatedOn</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>