<link rel="stylesheet" type="text/css" href="~/css/search-bar.css">
<link rel="stylesheet" type="text/css" href="~/css/all-post.css">
<input class="search form-control" type="text" placeholder="Search" aria-label="Search">
@*<div class="card mb-3 ml-lg-5" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>*@