@using DogShelter.Common
@{
    this.ViewData["Title"] = "DogShelter";
}
<div class="home-container">
    <div class="hero-text">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p class="lozung">Every dog needs a home!</p>
    </div>
</div>
