@using DogShelter.Common
@{
    this.ViewData["Title"] = "DogShelter";
}
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>iskam kuche!</p>
    </div>

