.all-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-holder {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000085;
    padding: 15px 20px;
    border-radius: 15px;
   
}



.post-filter-1 {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.post-filter-1 select {
    flex-shrink: 2;
}

.post-filter-2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 40%;
}

.post-filter-2 select {
    margin-right: 10px;
}

.search {
    margin-right: 10px;
}


.card {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  
}

    .card:hover {
        box-shadow: 0 8px 6px -6px #0479d9;
    }

.post-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

